<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#1a1a1a" />
  <title> BabyAcademy</title>
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:100,500,600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />
</head>

<body>

  <header>
    <div class="banner">
      <br>
      <h1 id="title">Baby<a class="yellow">Academy</a> </h1>
      <h2 id="subtitle"> Every child has genius potential. </h2>
      <hr width=200vmin align=left>
    </div>
  </header>

  <nav class="menu" align="center">
    <ul>
      <li id="menu0"><a href="/baby_talk/home"> Home </a></li>
      <li id="menu1" class="yellow"><a href="/baby_talk/about_us"> About Us </a></li>
      <li id="menu2"><a href="/baby_talk/how_it_works"> How it Works </a></li>
      <li id="menu3"><a href="/baby_talk/blog"> Blog </a></li>
      <li id="menu4"><a href="/baby_talk/contact"> Contact </a></li>
    </ul>
  </nav>
  <!-- Mudei isto porque online nao podes usar files mais sim os enderesos url-->
  <div class="get-started">
    <h2> Providing parents <strong>the tools</strong> to help their children develop faster and smarter in a proven way.<br>Inspired by <a href="https://www.domaninternational.org/blog/what-is-the-doman-method-by-spencer-doman" target="_blank">The
        Doman Method.</a> </h2>
    <h2 class="button"> <a href=#> Get started </a> </h2>
  </div>


  <div class="info1">
    <h2> The best way to teach your child</h2>
    <p> Learning and teaching with Baby<a class="yellow">Academy</a> is simple! Our courses are hassle-free and very easy to follow through. </p>
    <!--<img src="./images/babyblocks.png">-->
    <%= image_tag "babyblocks.png" %>
  </div>

  <div class="info2">
    <h2>Every lesson is fun</h2>
    <p>Baby<a class="yellow">Academy</a>'s methods are the fastest and easiest way for your child to recognize and know words/numbers without the task becoming boring. It captures the toddler's attention and interest, making it fun for both parent
      and
      child.</p>
    <!--<img src="./images/happy.png">-->
    <%= image_tag "happy.png" %>

  </div>

  <div class="info3">
    <h2>Our courses</h2>
    <div class="tg-wrap">
      <table align="center">
        <tr>
          <th>Words</th>
          <th>Math</th>
        </tr>
        <tr>
          <td>Alphabet</td>
          <td>Quantity</td>
        </tr>
        <tr>
          <td>Colors</td>
          <td>Addition</td>
        </tr>
        <tr>
          <td>Animals</td>
          <td>Subtraction</td>
        </tr>
        <tr>
          <td>Food</td>
          <td>Multiplication</td>
        </tr>
        <tr>
          <td>Musical Instruments</td>
          <td>Division</td>
        </tr>
      </table>
    </div>

  </div>
</body>

<footer>
  <div class="footer">
    <p>&copy; Baby<a class="yellow">Academy</a> 2019</p>
  </div>
</footer>

</html>